.main-header{
    width: 100%;
    height: auto;
    /* background-image: linear-gradient(to right, rgba(4, 107, 109, 1), rgba(0, 71, 88, 1)); */
    background-color: #fff;
    position: relative;
    z-index: 1000;
    transition:all .5s ease-in-out;
    border-top:8px solid rgb(4, 108, 109);
}
.small-topHeader {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: auto;
    min-height: 41px;
    min-width: 1200px;
    max-width: 1500px;
    margin: auto;
}

.header {
    width: auto;
    height: auto;
    margin: auto;
    position: relative;
    z-index: 2;
    min-width: 1200px;
    max-width: 1500px;
    padding: 0px 10px;
}

.header ul {
    list-style-type: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navigation a, .navigation span {
    display: inline-block;
    text-decoration: none;
    padding: 30px 15px;
    position: relative;
    font-size: 17px;
}

.header .lang_chooser {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lang {
    position: relative;
    width: auto;
    float: right;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.logo_container{
    float: left;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -20px;
    width: 125px;
    height: 125px;
    background: #fff;
    clip-path:polygon(-1px 16%,110% 16% 110% 110%,-50% 110%);
    z-index:3;
}

.logo_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navigation {
    width: max-content;
    height: 80px;
    margin-left: 125px;
    padding-left: 25px;
    float: left;
}

.lang_container.nav {
    width: max-content;
    left: 0;
}

.lang_container {
    position: absolute;
    background: rgb(41, 41, 41);
    /* height: 0; */
    grid-template-rows: 0fr;
    overflow: hidden;
    padding: 0;
    z-index: 2;
    right: 0;
    top: 80px;
    transition: all .2s ease-in-out;
    display: grid !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14), 0 2px 3px rgba(0, 0, 0, 0.28);
}

.operator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 480px;
    font-size: 12px;
}

.operator-logo {
    height: 60px;
    object-fit: contain;
    margin-left: 10px;
}

.trustpilot-review {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    color: #7a7a7a;
}

.trustpilot-review img {
    width: 8%;
    margin-left: 10px;
}

.regionSelectorContainer {
    position: relative;
    right: 0;
    float: right;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.regionSelector {
    padding: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}

.regionSelector img {
    border-radius: 50%;
    object-fit: cover;
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.regionSelector-items {
    position: absolute;
    display: grid;
    grid-template-rows: 0fr;
    top: 80px;
    right: 0;
    overflow: hidden;
    width: max-content;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14), 0 2px 3px rgba(0, 0, 0, 0.28);
    transition: all .25s ease-in-out;
}

.regionSelector-items-container {
    /* min-height: 0; */
}

.regionSelector-items a {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

.regionSelector-items .flag {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}